extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    each message in messages
      li #[strong Text:] !{message.text}
      li #[strong User:] !{message.user}
      li #[strong Date added:] !{message.added}
      br

    else
      li There are no messages.


